@mixin segoe($style:regular){
	font-family: 'segoe';

	@if ($style==light){
		font-weight: 100;
	}
	@if ($style==regular){
		font-weight: 400;
	}
	@if ($style==semibold){
		font-weight: 600;
	}
	@if ($style==bold){
		font-weight: 700;
	}
}