.ui-slider-horizontal{
	height: 3px;
	background:#dbe1e8;
	@include border-radius(0);
	border: 0 none;
	*{
		outline: none !important;
	}
	.ui-slider-range{
	background:#9eb2c0;
	}
}

.ui-slider-handle.ui-state-default.ui-corner-all{
	background:0 none;
	@include get-sprite($misc-sprite, slider);
	top: -9px;
	border: 0 none;
	&:first-child span{
		display: none;
	}
}
.ui-widget-header{
	background:#9eb2c0;
}