.ui-slider-horizontal{
	height: 3px;
	background:#dbe1e8;
	@include border-radius(0);
	border: 0 none;
	*{
		outline: none !important;
	}
	.ui-slider-range{
	background:#9eb2c0;
	}
}

.ui-slider-handle.ui-state-default.ui-corner-all{
	background:0 none;
	@include get-sprite($misc-sprite, slider);
	top: -9px;
	border: 0 none;
	&:first-child span{
		display: none;
	}
}
.ui-widget-header{
	background:#9eb2c0;
}
//Spinner
.ui-spinner-input{
	width:45px;
	height: 45px;
	line-height: 44px;
	box-sizing:border-box;
	border: 1px solid $grey;
	margin-right: 22px;
	@include border-radius(4px);
	text-align: center;
	vertical-align: middle;

}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
	background:0 none;
}
.ui-state-default .ui-icon{
	background:none;
	margin-top: -4px;
	
}
.ui-spinner .ui-icon-triangle-1-s{
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		border-top: 9px solid #c0ccd6;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		}
	&:after {
		content: '';
		position: absolute;
		left: 1px;
		top: 0;
		border-top: 8px solid #eeeeee;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
}
.ui-spinner .ui-icon-triangle-1-n{
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 9px solid #c0ccd6;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		}
	&:after {
		content: '';
		position: absolute;
		left: 1px;
		top: 1px;
		border-bottom: 8px solid #eeeeee;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		}
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border:0 none;
}
.ui-state-hover{
	border: 0 none;
	color: red;
	background:none;
}
.ui-spinner-button{
	// position: absolute;
	// left: 0;
}
.block-right-place__left .ui-widget-content, .ui-widget-content .ui-state-default{
	background:none;
	border: 0 none;
}
// }
