doctype html
html(lang="ru-RU")
	head
		meta(charser="UTF-8")
		meta(http-equiv="X-UA-Compatibl",content="IE=edge")
		meta(name="viewport" content="device-width")
		title Team Dream
		link(href="fonts/segoe.css" rel='stylesheet' type='text/css')
		link(rel="stylesheet",href="css/main.css")
		script(type="text/javascript" src="bower/jquery/jquery.min.js")
		script(type="text/javascript" src="js/plugins/jquery-ui.min.js")
		script(type="text/javascript" src="js/main.js")
	body
		.wrapper
			.block-left
				.block-left__title Генератор водяных знаков
				.block-left__main
					.block-left__wrapper-img
						#draggable.block-left__img
							img(src='img/watermark.png' alt='').watermark
			form.block-right
				.block-right__title Настройки
				.block-right__form
					-var items=['Исходное изображение','Водяной знак']
						each item, indx in items
							-var i=1
							-var count=indx+i
								label.block-right__lbl=item
								label.block-right__fileupload
										input.fileupload(id="fileupload_"+count type="file" name="files[]" placeholder="Image.jpg" data-url="server/php/" multiple disabled=((count == 2) ? true : false))
										input#fileurl.fileurl(type="hidden" name="fileurl" placeholder="Image.jpg")
									input.block-right__input(type="text" name="img-name")
				.block-right__form
					.block-right__form-title Положение
					.block-right-place
						.block-right-place__table
							-for (var i=0; i<9; i++)
								label.block-right-place__lbl
									input.block-right__radio(type="radio" class="block-right__radio_"+i checked=((i==0)? true : false))
									.block-right__radio-elem
						.block-right-place__left
							-var items=['x','y']
								each item, indx in items
									label(for="spinner")=item
										input(id='spinner' class='spinner' name='value')
				.block-right__form
					.block-right__form-title.sidebar Прозрачность
					#slider-range.slider-elem
				.block-right__last
					.block-right__btn
						button.btn.btn__clear(type='reset') Сброс
						button.btn.btn__save(type='submit') Скачать
		.footer © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его