doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatibl",content="IE=edge")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title Team Dream
		//- Favicon
		link(rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png")
		link(rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="favicon/manifest.json")
		link(rel="shortcut icon" href="favicon/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="TeamDream")
		meta(name="application-name" content="Мой первый сайт")
		meta(name="msapplication-TileColor" content="#ffc40d")
		meta(name="msapplication-config" content="favicon/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		link(href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css')
		link(href="fonts/styles.css" rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300&subset=cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')
		//- стили для qtip2
		link(rel="stylesheet",href="css/vendor/jquery.qtip.min.css")
		link(rel="stylesheet" href="css/main.css")
	body
		.wrapper
			.block-left
				.block-left__title Генератор водяных знаков
				.block-left__main
					.block-left__wrapper-img
						#draggable.block-left__img
							img(src='img/img-w.jpg' alt='').watermark
			form.block-right
				.block-right__title Настройки
				.block-right__form
					-var items=['Исходное изображение','Водяной знак']
						each item, indx in items
							-var i=1
							-var count=indx+i
								label.block-right__lbl=item
								label.block-right__fileupload
										input.fileupload(id="fileupload_"+count type="file" name="files[]" data-url="php/" multiple disabled=((count == 2) ? true : false))
										input.fileurl(type="hidden" name="fileurl" placeholder="Image.jpg")
									input.block-right__input(type="text" name="img-name" readonly value="image.jpg")
				.block-right__form
					.block-right__form-title Положение
					.block-right-place
						.block-right-place__table
							-for (var i=0; i<9; i++)
								label.block-right-place__lbl
									input.block-right__radio(type="radio" name="radio_btn" class="block-right__radio_"+i disabled checked=((i==0)? true : false))
									.block-right__radio-elem
						.block-right-place__left
							-var items=['X','Y']
								each item, indx in items
									label(for="spinner_"+indx)=item
										input(id='spinner_'+indx class='spinner' name='value' readonly)
				.block-right__form
					.block-right__form-title.sidebar Прозрачность
					#slider-range.slider-elem
				.block-right__last.block-right__form
					.block-right__btn
						button.btn.btn__clear(type='reset' disabled) Сброс
						button.btn.btn__save(type='submit' disabled) Скачать
		.footer © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его
		script(type="text/javascript" src="bower/jquery/jquery.min.js")
		script(type="text/javascript" src="js/plugins/jquery-ui.min.js")
		//- для загрузки картинок
		script(type="text/javascript" src="js/plugins/jquery.fileupload.js")
		script(type="text/javascript" src="js/plugins/jquery.iframe-transport.js")
		script(type="text/javascript" src="js/plugins/jquery.qtip.min.js")
		script(type="text/javascript" src="js/plugins/jquery.ui.widget.js")
		script(type="text/javascript" src="js/loadimages.js")
		//- END для загрузки кртинок
		script(type="text/javascript" src="js/position.js")
		script(type="text/javascript" src="js/main.js")