doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title Team Dream
		//- Favicon
		link(rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png")
		link(rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="favicon/manifest.json")
		link(rel="shortcut icon" href="favicon/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="TeamDream")
		meta(name="application-name" content="Мой первый сайт")
		meta(name="msapplication-TileColor" content="#ffc40d")
		meta(name="msapplication-config" content="favicon/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		link(href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css')
		link(href="fonts/styles.css" rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300&subset=cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')
		//- стили для тултипов
		link(rel="stylesheet",href="css/vendor/tooltip.css")
		link(rel="stylesheet" href="css/main.css")
	body
		ul.icons__language
			li#rus.icons__language-item.active
				a.icons__language-link.icons__language-link_rus(href="#") РУС
			li#eng.icons__language-item
				a.icons__language-link.icons__language-link_eng(href="#") ENG

		include _common/mixin
		+addSocialButtons('200','Сервис для наложения водяного знака',"img/wm480.jpg",'С помощью данного бесплатного онлайн сервиса вы может наложить водяной знак на ваши авторские изображения')
		.wrapper
			.block-left
				.block-left__title.rus Генератор водяных знаков
				.block-left__title.eng.hide-lng Watermarks generator
				.block-left__main
					.block-left__wrapper-img
						#draggable.block-left__img
							img(src='img/img-w.jpg' alt='').watermark
			form.block-right
				.block-right__title.rus Настройки
				.block-right__title.eng.hide-lng Settings
				.block-right__form-1
					.progress.progress_0 
						div(class="bar bar_0" style="width: 0%")
					.progress.progress_1
						div(class="bar bar_1" style="width: 0%")

					label.block-right__lbl.rus Исходное изображение
					label.block-right__fileupload.block-right__fileupload_0.rus
						input#fileupload_1.fileupload(type="file" name="files[]" data-url="php/up.php" multiple).rus
						input.fileurl(type="hidden" name="fileurl").rus
					input(type="text" name="img-name" readonly value="image.jpg" tooltip-not-image="Вы загрузили не картинку" tooltip-too-big="Вы загрузили картинку больше 2Мб" tooltip-bigger="Вотемарк больше исходной картинки" tooltip-error="Произошла ошибка!" class="block-right__input block-right__input_1").rus


					label.block-right__lbl.eng.hide-lng Original image
					label.block-right__fileupload.block-right__fileupload_0.eng.hide-lng
						input#fileupload_1.fileupload(type="file" name="files[]" data-url="php/up.php" multiple).eng.hide-lng
						input.fileurl(type="hidden" name="fileurl").eng.hide-lng
					input(type="text" name="img-name" readonly value="image.jpg" tooltip-not-image="You did not download the picture" tooltip-too-big="You uploaded an image more than 2Mb" tooltip-bigger="watermark bigger than the original picture" tooltip-error="An error has occurred" class="block-right__input block-right__input_1").eng.hide-lng

					label.block-right__lbl.rus Водяной знак
					label.block-right__lbl.eng.hide-lng Watermark
					label.block-right__fileupload.block-right__fileupload_1.disabled
						input#fileupload_2(type="file" name="files[]" data-url="php/up.php" multiple disabled class="fileupload")
						input(type="hidden" name="fileurl" class="fileurl")
					input(type="text" name="img-name" readonly value="image.jpg" tooltip-not-image="Вы загрузили не картинку" tooltip-too-big="Вы загрузили картинку больше 2Мб" tooltip-bigger="Вотемарк больше исходной картинки" tooltip-error="Произошла ошибка!" class="block-right__input block-right__input_2")


				.block-right__form
					.block-right__form-title.rus Положение
					.block-right__form-title.eng.hide-lng Place
					.block-right-place
						.block-right-place__table
							-for (var i=0; i<9; i++)
								label.block-right-place__lbl
									input.block-right__radio(type="radio" name="radio_btn" class="block-right__radio_"+i disabled checked=((i==0)? true : false))
									span.block-right__radio-elem
						.block-right-place__left
							-var items=['X','Y']
								each item, indx in items
									label(for="spinner_"+indx)=item
										input(id='spinner_'+indx class='spinner' name='value' readonly)
				.block-right__form
					.block-right__form-title.sidebar.rus Прозрачность
					.block-right__form-title.sidebar.eng.hide-lng Transparency
					#slider-range.slider-elem
				.block-right__last.block-right__form
					.block-right__btn
						button.btn.btn__clear.rus(type='reset' disabled) Сброс
						button.btn.btn__clear.eng.hide-lng(type='reset' disabled) Reset
						button.btn.btn__save.rus(type='submit' disabled) Скачать
						button.btn.btn__save.eng.hide-lng(type='submit' disabled) Download
		.footer.rus © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его
		.footer.eng.hide-lng © 2015, This is my website, please do not copy or steal it
		script(type="text/javascript" src="bower/jquery/jquery.min.js")
		script(type="text/javascript" src="js/plugins/jquery-ui.min.js")
		//- для загрузки картинок
		script(type="text/javascript" src="js/plugins/jquery.fileupload.js")
		script(type="text/javascript" src="js/plugins/jquery.iframe-transport.js")
		script(type="text/javascript" src="js/plugins/tooltip.js")
		script(type="text/javascript" src="js/plugins/jquery.ui.widget.js")
		//- END для загрузки кртинок
		//script(type="text/javascript" src="js/main.js")
		script(type="text/javascript" src="js/sbuttons.js")
		script(type="text/javascript" src="js/position.js")
		script(type="text/javascript" src="js/opacity.js")
		script(type="text/javascript" src="js/download.js")
		script(type="text/javascript" src="js/reset.js")
		script(type="text/javascript" src="js/loadimages.js")
		script(type="text/javascript" src="js/change-lng.js")
